/* Estilização geral */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #000000;
  }
  
  .page1, .page2, .page3 {
    background: #000000;
    position: relative;
    width: 100%;
    height: 100vh;
  }
  
  .video-page1, .video-page2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: opacity 4s ease-in;
  }
  .video-page1.loaded, .video-page2.loaded {
    opacity: 1; /* Visível após carregar */
  }
  
  @keyframes slideIn {
    0% {
        transform: translateY(50px);
        /* Começa deslocado para baixo */
        opacity: 0;
        /* Invisível */
    }

    100% {
        transform: translateY(0);
        /* Chega na posição final */
        opacity: 1;
        /* Totalmente visível */
    }
}
  .video-page1.loaded {
    opacity: 0.4;
    /* Opacidade final após o carregamento */
}
  
  
  .content {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    width: 100%;
    height: 100%;
  }
  
  .text, .text1-page2, .text2-page2, .text1-page3 {
    position: absolute;
    z-index: 3;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    left: 5%;
    width: 80%;
  }
  
  /* Página 1 */

  .text h1.text-titulo {
    font-size: 3em;
    margin-bottom: 10px;
  }
  
  .text h2 {
    font-size: 2em;
    margin-bottom: 15px;
  }
  
  .text p {
    font-size: 1.3em;
    margin: 0;
  }
  
  /* Página 2 */
  .text1-page2 {
    top: 8%; /* Ajuste para posicionar mais no topo */
    width: 90%;
  }
  
  .text2-page2 {
    top: 50%; /* Ajuste para posicionar mais abaixo */
    width: 90%;
  }
  
  .text1-page2 h1, .text2-page2 h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
  }
  
  .text1-page2 p, .text2-page2 p {
    font-size: 1.3em;
  }
  
  /* Página 3 */
  .text1-page3 {
    position: absolute;
    top: 30%; /* Centralizado verticalmente */
    left: 72%; /* Posiciona o texto começando do meio da tela */
    transform: translateX(-50%); /* Move o texto para a direita, garantindo que ele esteja na metade direita */
    width: 50%; /* Largura do texto */
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Para melhorar a legibilidade */
  }
  .text1-titulo-page3 {
    text-align: center;
    margin-top: 5%;
  }

  .h1-page3 {
    text-align: center;
    font-size: 3em;
    margin: 10px 0;
  }
  
  .h3-page3 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .text1-descricao-page3 {
    text-align: center;
    font-size: 1.2em;
  }
  /* Responsividade */
@media (max-width: 1024px) {
    .text h1.text-titulo {
      font-size: 2.5em;
    }
  
    .text h2 {
      font-size: 1.8em;
    }
  
    .text p {
      font-size: 1em;
    }
  
    .text1-page2 h1, .text2-page2 h1 {
      font-size: 2em;
    }
  
    .text1-page2 p, .text2-page2 p {
      font-size: 1.2em;
    }
    .text1-page3 {
        width: 70%; /* Reduz a largura do texto em telas menores */
        left: 50%;
        transform: translateX(-50%);
      }
  
    .h1-page3 {
      font-size: 2.5em;
    }
  
    .h3-page3 {
      font-size: 1.5em;
    }
  
    .text1-descricao-page3 {
      font-size: 1em;
    }
  }
  
  @media (max-width: 768px) {
    .text h1.text-titulo {
      font-size: 2em;
    }
  
    .text h2 {
      font-size: 1.5em;
    }
  
    .text p {
      font-size: 0.9em;
    }
  
    .text1-page2 h1, .text2-page2 h1 {
      font-size: 1.8em;
    }
  
    .text1-page2 p, .text2-page2 p {
      font-size: 1em;
    }
    .text1-page3 {
        width: 80%; /* Reduz ainda mais a largura do texto */
        left: 50%;
        transform: translateX(-50%);
      }
  
    .h1-page3 {
      font-size: 2em;
    }
  
    .h3-page3 {
      font-size: 1.2em;
    }
  
    .text1-descricao-page3 {
      font-size: 0.9em;
    }
  
    .text1-page2, .text2-page2 {
      width: 90%;
    }
  }
  
  @media (max-width: 480px) {
    .text h1.text-titulo {
      font-size: 1.8em;
    }
  
    .text h2 {
      font-size: 1.2em;
    }
  
    .text p {
      font-size: 0.8em;
    }
  
    .text1-page2 h1, .text2-page2 h1 {
      font-size: 1.5em;
    }
  
    .text1-page2 p, .text2-page2 p {
      font-size: 0.9em;
    }
    .text1-page3 {
        width: 90%; /* Ajusta a largura para dispositivos muito pequenos */
        left: 50%;
        transform: translateX(-50%);
        font-size: 1.2em; /* Ajusta o tamanho da fonte para dispositivos menores */
      }
  
    .h1-page3 {
      font-size: 1.8em;
    }
  
    .h3-page3 {
      font-size: 1em;
    }
  
    .text1-descricao-page3 {
      font-size: 0.8em;
    }
  
    .text1-page2, .text2-page2 {
      width: 95%;
    }
  }